@media screen and (max-width:700px) {
    .accueil{
        margin-left: auto;
        margin-right: auto;
    }
}

body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: Roboto;
}

button{
    display: flex;
    gap:0.5em;
    background-color: white;
    cursor: pointer;
}

header{
    background-color: rgb(26,26,26);
    font-weight: 700;
    padding: 15px 10px;

    display: flex;
    align-items: center;
}

header div{
    text-align: center;
    font-size: small;
}

.nav-list{
    font-size:large;
    display: flex;
    cursor:pointer;
    list-style: none;
}

.nav-list li {
    list-style: none;
    padding: 0px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(160,169,168)    ;
}

.nav-list li a:hover {
    color: white;
}

.nav-cours{
    background-color:rgb(126,217,88);
    padding: 10px 15px ;
}

.connexion{
    height: 40px;
    width: 100px;
    border: 0;
    color: white;
    background-color: rgb(126,217,88);
    border-radius: 5px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor: pointer;
    background-color: rgb(160,169,168);
}

main{
    text-align: center;
    padding: 0;
}

.accueil{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin: 0;  
    padding-top: 20px;
    font-size: 300%;
    font-weight: 800;
}

h2{
    margin: 0;
    font-size: 200%;
}

h3{
    font-size: 150%;
    margin: 0;
}

p{
    font-size: 90%;
    margin: 0;
}

.button-cours{
    background-color: white;
    padding: 15px 70px;
    border-radius: 50px;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
}



.bounce{
    animation: bounce linear;
}

@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translate(-15px);
    }
    90%{
        transform: translate(-4px);
    }
}

.cours-terminal{
    padding: 10px;
    background-image: url("image/background-blue.png") ;
    background-size: 15px;
}

.cours-terminal-legend{
    padding: 20px;
}

.terminal{
    background-color: rgb(34,34,34);
    border-radius: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.terminal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgb(160,160,160);

}

.terminal-name{
    margin-left: 2px;
}

.terminal-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.terminal-button{
    background-color: rgb(160,160,160);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    padding:5px;
}

.terminal-text{
    color: rgb(160,160,160);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3px;
    font-size: 80%;

}

.terminal-footer{
    height: 40px;
}

.cours-abonnement{
    background-color: white;
    color: black;
    padding-bottom: 20px;
}
.cours-abonnement-titre{
    padding: 20px;
}

.cours-abonnement-soustitre{
    font-weight: 300;
}

.cours-abonnement-tableau{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 25px;
}

.cours-abonnement-tableau td{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px grey
}

.cours-abonnement-tableau-case{
    display: flex;
    position: relative;    
}

.cours-abonnement-tableau-text{
    text-align: left;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 10px;

}

.cours-abonnement-tableau-titre{
    font-size: 95%;
    margin-bottom: 5px;
}

.cours-abonnement-tableau-legend{
    font-size: 68%;
    color: rgb(95, 95, 95);
}

.cours-abonnement-tableau-case span{
    position: absolute;
    top: -20px;
    left: -3px;
    font-size: 70%;
    color: white;
    background-color: rgb(199, 33, 33);
    padding: 1px 10px;
    border-radius: 15px;
}

.button-voir-cours{
    background-color: rgb(34,34,34);
    color: white;
    font-weight: 700;
    font-size: 105%;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.ressources{
    background-image: url("image/background-blue.png") ;
    background-size: 15px;
    padding-bottom: 30px;
}

.ressources-titre{
    padding-top: 20px;
}

.ressources-soustitre{
    font-size: medium;
    font-weight: 500;
    margin-bottom: 30px;
}

.ressources-list{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.ressources-vignettes-titre{
    font-size: 120%;
    margin-bottom: 5px;
}

.ressources-vignettes-soustitre,.button-blog-legend{
    font-size: 68%;
    font-style: italic;
}

.blog{
    padding-bottom: 30px;
}

.slider {
    margin: 50px;
  }

.slider_img {
    margin: 0 15px;
}

.blog-text{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.blog-text p{
    margin: 15px 0;
}

.button-blog{
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 3px;
}

footer {
    background-color: rgb(26,26,26);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo-footer{
    text-align: center;
}

.footer-text{
    font-size: small;
    margin: 10px;
    color: rgb(138, 138, 138);
    font-weight: 600;
}

.footer-lien{
    margin-right: auto;
    margin-left: auto;
}

.footer-reseaux{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}
 /* -------------Connexion---------------- */

form{
    width: 250px;
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
}

.footer-newsletter-email{
    width: 130px;
    border-radius: 5px;
    /* color: white; */
    height: 20px;
}

.footer-newsletter-sinscrire{
    background-color: rgb(166, 128, 183);
    color: white;
    border-radius:5px ;
    width: 80px;
    height: 30px;
}

/* -----Page connexion----- */

form .connexion-form{
    width: 70vw;
    margin: auto;


    display: flex;
    flex-direction: column;

    font-weight: 600;
}

.connexion-popup{
    height: 90vh;
    background-color: white;

    padding-top: 10vh;
}

.connexion-popup-container{
    width: 90vw;
    margin: auto;
    
    vertical-align: middle;
    box-shadow: 10px 10px 10px gray;

    color: black;
}

#souligne{
    text-decoration: underline;
}

form legend{
    margin: auto;
}

input{
    margin-bottom: 20px;
    height: 40px;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(137, 137, 137);
}

#email, #motdepasse{
    padding-left: 10px;
    font-size: small;

    color: rgb(137,137,137);

}

#submit{
    background-color: rgb(137,137,137);
    color: white;
}

form p{
    padding-bottom: 20px;
    margin: auto;
    font-size: small;
    color: rgb(137,137,137);
}


/* ----------Page cours ---------------*/

.accueil-cours{
    padding: 10px;
    background-image: url("image/background-green.jpeg") ;
    background-size: 15px;
    display: flex;
    text-align: justify;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.accueil-cours-text h1, p{
    padding-bottom: 20px;
}

.accueil-cours-text-bloc{
    background-color: rgb(26,26,26);
    color:white;
    border-radius: 5px;

    padding: 10px 10px;

    text-align: center;

}

.accueil-abonnement img{
    height: 400px;
    width: auto;
}

.cours-disponibles{
    background-color: white;
    color: black;
    padding: 20px;
}

.cours-disponibles h1,a,h3{
    padding-top: 15px;
    padding-bottom: 15px;
}

.cours-disponibles-visuel{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cours-disponibles-visuel img{
    height: auto;
    width: 200px;
    border-radius: 10px 10px 0 0;
}

.cours-disponibles-vignettes{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: solid rgb(138, 138, 138) 1px;
    box-shadow: 10px 10px 10px grey;
}


.cours-disponibles-vignettes-titre{
    font-size: 120%;
    margin-bottom: 5px;
}

.cours-disponibles-vignettes-soustitre{
    font-size: 68%;
    color : rgb(95, 95, 95) ;
}