body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: Roboto;
}

/* -----------------Header----------------- */

header{
    background-color: rgb(26,26,26);
    font-weight: 700;
    padding: 15px 10px;

    display: flex;
    align-items: center;
}

header div{
    text-align: center;
    font-size: small;
}

.nav-list{
    font-size:large;
    display: flex;
    cursor:pointer;
    list-style: none;
}

.nav-list li {
    list-style : none;
    padding: 0px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(160,169,168)    ;
}

.nav-list li a:hover {
    color: white;
}

.nav-cours{
    background-color:rgb(126,217,88);
    padding: 10px 15px ;
}

.connexion{
    height: 40px;
    width: 100px;
    border: 0;
    color: white;
    background-color: rgb(126,217,88);
    border-radius: 5px;
    margin-left: auto;
}

button:hover{
    cursor: pointer;
    background-color: rgb(160,169,168);
}

main{
    text-align: center;
}


/* ------------Footer------------ */
footer{
    background-color: rgb(26,26,26);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo-footer{
    text-align: center;
}

.footer-text{
    font-size: small;
    margin: 10px;
    color: rgb(138, 138, 138);
    font-weight: 600;
}

.footer-lien{
    margin-right: auto;
    margin-left: auto;
}

.footer-reseaux{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}


form{
    width: 250px;
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
}

.footer-newsletter-email{
    width: 130px;
    border-radius: 5px;
    /* color: white; */
    height: 20px;
}

.footer-newsletter-sinscrire{
    background-color: rgb(166, 128, 183);
    color: white;
    border-radius:5px ;
    width: 80px;
    height: 30px;
}