@media screen and (max-width:600px) {
    .accueil{
        margin-left: auto;
        margin-right: auto;
    }
}

body{
    margin: 0px;
    background-color: black;
    color: white;

    font-family: Roboto;
}

header{
    display: flex;
    background-color: rgb(26,26,26);
    font-weight: 700;
}

header div{
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: small;
}

.nav-list{
    font-size:large;
    margin-top: 15px;
    display: flex;
    cursor:pointer;
    list-style: none;
}

.nav-list li {
    list-style: none;
    padding: 20px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(160,169,168)    ;
}

.nav-list li a:hover {
    color: white;
}

.nav-cours{
    background-color:rgb(126,217,88);
    padding: 10px 15px ;
}

main{
    text-align: center;
}

.accueil{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin: 0;
    padding: 20px;
    font-size: 300%;
    font-weight: 700;
}

h2{
    font-size: 200%;
}

h3{
    font-size: 200%;
}

p{
    font-size: 150%;
}

button{
    background-color: white;
    padding: 15px 100px;
    border-radius: 50px;
    font-size: 150%;
    cursor: pointer;
}

/* animation flèche */

.cours-terminal{
    padding: 10px;
    background-image: url("image/background-blue.png") ;
    background-size: 10px;
}

.terminal{
    background-color: rgb(34,34,34);
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.terminal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgb(160,160,160);

}

.terminal-name{
    margin-left: 2px;
}

.terminal-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.terminal-button{
    background-color: rgb(160,160,160);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    padding:5px;
}

.terminal-text{
    color: rgb(160,160,160);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3px;
    font-size: 80%;

}

.terminal-footer{
    height: 40px;
}

.cours-abonnement{
    background-color: white;
    color: black;
}

.cours-abonnement-soustitre{
    font-weight: 100;
}

.cours-abonnement-tableau{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 25px;
}

.cours-abonnement-tableau td{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px grey
}

.cours-abonnement-tableau-case{
    display: flex;
    position: relative;    
}

.cours-abonnement-tableau-text{
    text-align: left;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 10px;

}

.cours-abonnement-tableau-titre{
    font-size: 95%;
    margin-bottom: 5px;
}

.cours-abonnement-tableau-legend{
    font-size: 68%;
}

.cours-abonnement-tableau-case span{
    position: absolute;
    top: -20px;
    left: -3px;
    font-size: 70%;
    color: white;
    background-color: rgb(199, 33, 33);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 15px;
}